form{
  display: inline-block;
  position: relative;
}
body{
  background-color: #f0f2f5;
  text-align: center;
  position: absolute;
  top: 50px;
  width:100%;
  margin-left: 770px;
}
input{
  margin-top: 10px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 6px;
}

.btn-1{
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 364px;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  text-align: center;

  
}
.btn-2{
  background-color: #42B72A;
  color: white;
  padding: 0px 16px;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  font-weight: bold;

}
.text{
  color: #1877f2;
  font-size: 14px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
}
.linha{
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
  width: 364px ; 
}

.estilizacao{
  background-color: white;
  margin: 70px 0px 0px;
  padding: 10px 0px 24px;
  width: 396px;
  box-shadow: 0 0 1em rgb(199, 199, 199);
  border-radius: 8px;
}
.texto{
  color: #1c1e21;
  width: 400px;
  font-family: 'Roboto', sans-serif;
}

img{
  height: 106px;
  margin: -28px;
  position: absolute;
  left: -580px;
  top: 180px;
}
p{
  color: #1c1e21;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: -580px;
  top: 220px;
  text-align: start;
}


